/*
	color: #80c9d2; // lightblue
	color: #b11c54; // strongPink
	color: #6a2569; // purple
	color: #11aa58; // green
	color: #f78f31; // orange
	color: #fee0c9; // beige
*/
#languageSwitch {
	color: #fff;
	cursor: pointer;
	font-variant: small-caps;
	position: absolute;
		right: 1.5em;
		top: 1em;
	text-decoration: none;
	z-index: 1;
}

.reveal .cover h1{
	font-family: 'Londrina Sketch', cursive;
	font-size: 4em;
	display: inline-block;
	margin: 0 0.1em 0 0;
}
.reveal .whoAmI {
	display: inline-block;
	margin-top: 1em;
	vertical-align: middle;
	width: 30%;
}
.reveal .whoAmI,
.reveal .cover img {
	display: inline-block;
	width: 45%;
}

.reveal .whoAmI * {
	line-height: 0.8em;
}

.reveal .whoAmI h3 {
	font-weight: normal;
	font-size: 1.2em;
}

.reveal .positive {
	color: #b11c54;
}
.reveal .neutral {
	color: #2255FF;
}

.reveal .negative {
	color: #6a2569;
}
.reveal h4 {
	text-align: left;
	display: block;
	margin-bottom: 1em;
	font-size: 2em;
	font-family: 'Londrina Sketch', cursive;
}

.reveal section img {
	margin: 20px;
}

.reveal table {
	border: 1px solid #fff;
}

.reveal .sideBySide {
	display: inline-block;
	vertical-align: bottom;
	width: 45%;
}

.reveal .profile h2 {
	font-size: 1em;
}
.reveal .profile h3 {
	font-size: 0.8em;
}

.reveal .profile img {
	border-radius: 50%;
	height: 8em;
}

.reveal .story * {
	display: inline-block;
	text-align: left;
}

.reveal .story dt {
	font-weight: bold;
	width: 35%;
	margin-bottom: 0.8em;
}

.reveal .story dd {
	width: 60%;
}

.reveal .light {
	color: rgba(255, 255, 255, 0.5);
}

.reveal table.sideBySide th.dificulty {
	width: 10%;
}

.reveal td, .reveal th {
	text-align: center;
	width: 8em;
	border: 1px solid #966;
	vertical-align: middle;
	padding: 0.2em;
}

.reveal thead tr {
	background-color: rgba(0, 0, 0, 0.4);
}

.reveal .zebra {
	background-color: rgba(0, 0, 0, 0.2);
}

.reveal .reallyBig {
	font-size: 15em;
}
.reveal .bigger {
	font-size: 3em;
}
.reveal .side {
	float: left;
}
.reveal .otherSide {
	float: right;
}
/* Fonts */
.reveal .cursive {
	font-family: 'Dancing Script', cursive;
}
.reveal .attention {
	font-family: 'Londrina Sketch', cursive;
}
